.amazing {
    z-index: 2;
    position: relative;
}

.amazing__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc((100% - 1110px) / 2);
    z-index: 3;
    width: 100%;
    transform: translateY(-50%);
    min-height: 360px;
    background-color: #fafafa;
}

.amazing__container {
    padding-block: 70px;
    height: 100%;
}

.amazing__title {
    color: #4d533c;
    max-width: 820px;
    margin-bottom: 50px;
}

.amazing__button {}

.button {}

.button-reset {}